body{background: #f5f5f5;font-size: 14px;}

/* -----------------------------top----------------------------------- */
._top{background: #dddddd;border-bottom: 1px solid #d0d0d0;}
.top{height: 38px;font-size: 12px;overflow: hidden;width: 1200px;}
.top p{height: 38px;font-size: 12px;line-height: 38px;float: left;    padding: 0 12px;
    background: white;border: 1px solid #d0d0d0;border-bottom:0;}
.top p a{color: #4496ee;}
.top ul{float: right;margin-right: -16px;}
.top ul li{float: left;height: 38px;}
.top ul li a{display: block;padding: 0 10px;margin-top:12px;border-right: 1px solid #dddddd;}
.top ul li i{background: url(../img/iconBase.png);display: inline-block;width: 12px;height: 12px;background-position: 0px -80px;margin-left: 10px}
.top ul li b{background: url(../img/iconBase.png);display: inline-block;width: 18px;height: 12px;background-position: 0px 0px;margin-right: 10px}


.header{width: 1200px;overflow: hidden;}
.header a{width: 100%;display: block;}
/* .header a img{width: 100%;display: block;} */

.logo{width: 1200px;height: 180px;font-size: 12px;}
.logo .logopackage{float: left;position: relative;top: 50%;transform: translateY(-50%);}
/* .logo .logopackage img{position: relative;left: 50%;transform: translateX(-50%);} */
.logo .search{margin-top: 56px;margin-left: 70px;float: left;}
.logo .search input:first-child{float: left;border: 3px solid #4496ee;width: 440px;line-height: 36px;border-right: 0;}
.logo .search input:nth-child(2){float: left;border: 3px solid #4496ee;width: 116px;line-height: 36px;background: #4496ee;font-size: 18px;color: white;font-weight: bold;}
.logo .search p{padding-top: 3px;}
.logo .search p a{padding-top: 8px;margin-right: 10px;float: left;}

.logo .logoright{float: right;margin-top: 56px;}
.logo .logoright a{float: left;display: block;}
.logo .logoright a:first-child{width: 70px;height: 42px;background: #e9e9e9;text-align: center;}
.logo .logoright a:first-child i{background: url(../img/iconBase.png);display: block;width: 30px;height: 16px;background-position: 4px -34px;margin-right: 10px;margin-left: 20px;margin-top: 8px;}
.logo .logoright a:last-child{width: 150px;height: 42px;background: #4496ee;font-size: 16px;font-weight: bold;color: white;line-height: 42px;}
.logo .logoright a:last-child i{background: url(../img/iconBase.png);display: inline-block;width: 18px;height: 16px;background-position: 0px -159px;margin-right: 10px;margin-left: 26px;}

.nav{border-bottom: 3px solid #3184dd;}
.nav ul>li{float: left;position: relative;}
.nav ul>li:last-child{float: right;margin-right: -40px;}
.nav ul>li:last-child span{color: #4496ee;}
.nav ul>li:nth-child(2)::after{content: "";height: 14px;width: 1px;background: #d0d0d0;display: block;position: absolute;right: 0;top: 19px;}
.nav ul>li:nth-child(3)::after{content: "";height: 14px;width: 1px;background: #d0d0d0;display: block;position: absolute;right: 0;top: 19px;}
.nav ul>li:nth-child(4)::after{content: "";height: 14px;width: 1px;background: #d0d0d0;display: block;position: absolute;right: 0;top: 19px;}
.nav ul>li:nth-child(5)::after{content: "";height: 14px;width: 1px;background: #d0d0d0;display: block;position: absolute;right: 0;top: 19px;}
.nav ul>li:nth-child(6)::after{content: "";height: 14px;width: 1px;background: #d0d0d0;display: block;position: absolute;right: 0;top: 19px;}
.nav ul>li a{display: block;font-size: 16px;padding: 0 28px;line-height: 50px;text-align: center;}
.nav ul>li:first-child>a{background: #3184dd;color: white;width: 200px;margin-left: -10px;}
.nav ul>li:first-child{background: #3184dd;margin-left: -6px;}

.nav ul li ol{background: #4496ee !important;position: absolute;width: 200px;margin-left: -10px;top:52px;height: 453px;z-index: 5;}
.nav ul li ol li>a{background: #4496ee !important;margin-left: 3px;text-align: left;color: white;}
.nav ul li ol li:hover>a{background: white !important;color: #4496ee;}
.nav ul li ol li:hover a+.navmenu{display: block;}
.nav ul li ol li>a::before{content: "";display: inline-block;height: 20px;width: 20px;background: url(../img/iconBase.png);vertical-align: middle;margin-right: 20px;}
.nav ul li ol li:nth-child(1) a::before{background-position: -58px -30px;}
.nav ul li ol li:nth-child(1):hover a::before{background-position: -93px -30px;}
.nav ul li ol li:nth-child(2) a::before{background-position: -58px -62px;}
.nav ul li ol li:nth-child(2):hover a::before{background-position: -93px -62px;}
.nav ul li ol li:nth-child(3) a::before{background-position: -58px -92px;}
.nav ul li ol li:nth-child(3):hover a::before{background-position: -93px -92px;}
.nav ul li ol li:nth-child(4) a::before{background-position: -58px -133px;}
.nav ul li ol li:nth-child(4):hover a::before{background-position: -93px -133px;}
.nav ul li ol li:nth-child(5) a::before{background-position: -58px -171px;}
.nav ul li ol li:nth-child(5):hover a::before{background-position: -93px -171px;}
.nav ul li ol li:nth-child(6) a::before{background-position: -58px -213px;}
.nav ul li ol li:nth-child(6):hover a::before{background-position: -93px -213px;}
.nav ul li ol li:nth-child(7) a::before{background-position: -58px -263px;}
.nav ul li ol li:nth-child(7):hover a::before{background-position: -93px -263px;}
.nav ul li ol li:nth-child(8) a::before{background-position: -58px -315px;}
.nav ul li ol li:nth-child(8):hover a::before{background-position: -93px -315px;}
.nav ul li ol li:nth-child(9) a::before{background-position: -58px -365px;}
.nav ul li ol li:nth-child(9):hover a::before{background-position: -93px -365px;}

.nav ul li ol li .navmenu{width: 965px;height: 453px;background: white;position: absolute;top:0px;left: 200px;padding-left: 30px;
    display: none;
}
.nav ul li ol li .navmenu h4{line-height: 48px;}
.nav ul li ol li:nth-child(3) .navmenu h4{line-height: 48px;width: 100%;display: block;float: left;border-top: 1px solid #d0d0d0;margin-top: 30px;}
.nav ul li ol li:nth-child(3) .navmenu h4:first-of-type{border-top: 0;margin-top: 0}
.nav ul li ol li:nth-child(3) .navmenu h4:nth-of-type(2)::before{background-position: -34px -22px;}
.nav ul li ol li:nth-child(3) .navmenu h4:nth-of-type(3)::before{background-position: -34px -42px;}
.nav ul li ol li:nth-child(3) .navmenu p{border-bottom: 0px !important;}
.nav ul li ol li:nth-child(4) .navmenu h4{line-height: 48px;width: 100%;display: block;float: left;border-top: 1px solid #d0d0d0;margin-top: 30px;}
.nav ul li ol li:nth-child(4) .navmenu h4:first-of-type{border-top: 0;margin-top: 0}
.nav ul li ol li:nth-child(4) .navmenu h4:nth-of-type(2)::before{background-position: -34px -62px;}
.nav ul li ol li:nth-child(4) .navmenu h4:nth-of-type(3)::before{background-position: -34px -85px;}
.nav ul li ol li:nth-child(4) .navmenu p{border-bottom: 0px !important;}
.nav ul li ol li:nth-child(5) .navmenu h4{line-height: 48px;width: 100%;display: block;float: left;border-top: 1px solid #d0d0d0;margin-top: 20px;}
.nav ul li ol li:nth-child(5) .navmenu h4:first-of-type{border-top: 0;margin-top: 0}

.nav ul li ol li .navmenu h4::before{content: "";display: inline-block;height: 20px;width: 20px;background: url(../img/iconBase.png);vertical-align: middle;margin-right: 8px;background-position: -34px 0px;}
.nav ul li ol li .navmenu p{height: 24px;float: left;}
.nav ul li ol li .navmenu p:nth-of-type(3n){border-bottom: 1px solid #d0d0d0;padding-bottom: 14px;box-sizing: unset;width: 100%;}
.nav ul li ol li .navmenu>a{border-left: 1px solid #d0d0d0;border-bottom: 1px solid #d0d0d0;margin: 0;padding: 0;position: absolute;top:0;left: 715px;}
.nav ul li ol li .navmenu>a:last-child{border-left: 1px solid #d0d0d0;border-bottom: 0px solid #d0d0d0;margin: 0;padding: 0;position: absolute;top:216px;left: 715px;}
.nav ul li ol li .navmenu p a{display: inline;font-size: 12px;padding: 0 14px;border-left: 1px solid #d0d0d0;line-height: 24px;}
.nav ul li ol li .navmenu p a:first-child{border-left: 0;padding-left: 0px}


.nav ul li ol li .navmenu dl{width: 230px;float: left;}
.nav ul li ol li:nth-child(3) .navmenu dl{width: 355px;float: left;}
.nav ul li ol li:nth-child(4) .navmenu dl{width: 600px;float: left;}
.nav ul li ol li:nth-child(5) .navmenu dl{width: 600px;float: left;}
.nav ul li ol li:nth-child(5) .navmenu dl:nth-of-type(1),.nav ul li ol li:nth-child(5) .navmenu dl:nth-of-type(2){width: 300px;float: left;}
.nav ul li ol li .navmenu dl dt h5{height: 40px;line-height: 32px;font-weight: bold;font-family: "黑体";}
.nav ul li ol li .navmenu dl dd{line-height: 24px;height: 24px;}
.nav ul li ol li .navmenu dl dd a{display: inline;font-size: 12px;padding:  0 4px;line-height: 24px;height: 24px;border-left: 1px solid #d0d0d0;}
.nav ul li ol li .navmenu dl dd a:first-child{border-left: 0;}
.nav ul li ol li .navmenu dl dd a:first-child{padding-left: 0;}



.banner{width: 1200px;position: relative;margin-bottom: 20px;}
.banner .slider{position: absolute;height: 453px;float: left;width: 760px;left: 194px;z-index: -1;}
.banner>ul>li a img{height: 100%;}
.banner>ul{position: absolute;z-index: -1;left: 180px;}
.banner .olqa{float: right;width: 250px;background: white;padding: 10px 10px 0px 10px;}
.banner .olqa>a:first-child{display: block;line-height: 36px;color: #fb5e5f;font-size: 18px;border-radius: 18px;text-align: center;background: #d0d0d0;margin-bottom: 20px;}
.banner .olqa>a:first-child::before{content: "";display: inline-block;width: 20px;height: 20px;background: url(../img/onlineService.png) 0px 3px;margin-right: 16px;}
.banner .olqa p{border-bottom: 1px solid #d0d0d0;font-size: 14px;font-weight: bold;}
.banner .olqa p a{line-height: 30px;margin-right: 14px;display: inline-block;}
.banner .olqa p a:first-child{border-bottom: 2px solid #3184dd;}
.banner .olqa p a:last-child{border-bottom: 2px solid white;}
.banner .olqa ul{font-size: 12px;line-height: 30px;display: block}
.banner .olqa ol li{float: left;width: 76px;}
.banner .olqa ol li div{width: 40px;height: 40px;background: url(../img/serIcoB.png);margin: 0 auto;margin-bottom: 10px;margin-top: 26px;}
.banner .olqa ol li h6{text-align: center;}
.banner .olqa ol li:nth-child(1) div{background-position: 0px 0px;}
.banner .olqa ol li:nth-child(2) div{background-position: 0px 0px;}
.banner .olqa ol li:nth-child(3) div{background-position: 0px 0px;}


.banner .olqa ol{display: none;}

.qiang{width: 1200px;overflow: hidden;}
.buytimeout{float:left;width: 190px; height: 240px;background: url(../img/dailyBg.jpg);text-align: center;color: #3184dd;font-weight: bold;padding-top: 35px;position: relative;z-index: 2;}
.buytimeout h5{font-weight:normal;line-height: 60px;height: 60px;}
.buytimeout p span{display: inline-block;width: 40px;height: 50px;background: white;vertical-align: middle;line-height: 50px;font-size: 20px;}
.buytimeout p b{font-size: 20px;font-weight: bold;}

.qiang ul{width: 1010px;height: 240px;background: white;float: right;}
.qiang ul li{padding: 10px;border-left: 1px solid #d0d0d0;border-top: 1px solid #d0d0d0;width: 337px;float: left;margin-left: -1px;margin-top:-1px;height: 120px;z-index: -1;transition: 0.3s;}
.qiang ul li:hover dl dt img{transform: translateX(3px);}
.qiang ul li:hover{cursor: pointer;}
.qiang ul li dl dt{width: 110px;height: 110px;float: right}
.qiang ul li dl dt img{width: 95%;}
.qiang ul li dl dd:first-child{font-size: 16px;}
.qiang ul li dl dd:last-of-type{font-size: 14px;color: #fb5e5f;margin: 12px 0;}
.qiang ul li dl i{display: inline-block;width: 100px;height: 30px;line-height: 30px;background: #fb5e5f;border-radius: 15px;text-align: center;color: white;font-size: 18px;}
.qiang ul li dl span{color: #626262;text-decoration-line: line-through;margin-left: 14px;}

.changjian{width: 1200px;}
.changjian ul{padding: 10px;background: white;}
.changjian ul li{float: left;margin-left: 8px;    margin-top: 4px;}
.changjian ul li img:first-child{margin-bottom: 3px;}


.jiankang{width: 1200px;overflow: hidden;margin-top: 10px;}
.jk_lf{height: 300px;background: white;padding: 15px 10px;width: 270px;border-right: 1px solid #d0d0d0;float: left;}
.jk_lf p:first-child{font-size: 16px;font-weight: bold;font-family: "黑体"; line-height: 32px;}
.jk_lf p:first-child+p{font-size: 14px;color: #fb5e5f;line-height: 24px;}
.jk_lf img{width: 90%;margin: 0 auto;}
.jiankang ul{width: 930px;height: 300px;background: white;float: right;}
.jiankang ul li{padding: 10px;border-left: 1px solid #d0d0d0;width: 310px;float: left;margin-left: -1px;margin-top:20px;height: 120px;z-index: -1;transition: 0.3s;}
.jiankang ul li:hover dl dt img{transform: translateX(-3px);}
.jiankang ul li:hover{cursor: pointer;}
.jiankang ul li dl dt{width: 110px;height: 110px;float: right}
.jiankang ul li dl dt img{width: 95%;}
.jiankang ul li dl dd:first-child{font-size: 16px;}
.jiankang ul li dl dd:last-of-type{font-size: 14px;color: #fb5e5f;margin: 12px 0;}